.dropbtn {
  background-color: #09b173;
  color: white;
  padding: 8px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #276929;
}
.dropdown {
  position: relative;
  text-align: inline-block;
  text-align: center;
}
.dropdown-sisältö {
  display: none;
  position: absolute;
  top: calc(100% + 6px);
  left: 58%;
  transform: translateX(-50%);
  background-color: white;
  min-width: 85px;
  width: max-content;
  overflow: auto;
  z-index: 1;
}
.show {display: block;}

.Filter .date-picker {
  display:none; align-items:center; gap:8px; margin-top:6px
}

.btn-aika {
  display: none;
  margin-left: 8px;
}
.time-picker {
  display: none;
  margin-left: 6px;
}

.Haku {
  margin-right: 10px;
  text-align: center;
  width: 250px;
  height: 25px;
}

h1 {
  text-align: center;
}

.btn {
  background-color: rgb(60, 187, 60);
  border-radius: 1px;
  border-color: whitesmoke;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #f2f2f2;
  background: linear-gradient(135deg, #2ea177, #2ea177);
  color: white;  
  border-bottom: black 2px solid;
}
